# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Adding the node orb
orbs:
  node: circleci/node@5.2.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  build-and-test:
    executor: node/default # use the default executor defined within the orb
    steps:
      - checkout
      - run:
          name: Install pnpm package manager
          command: |
            sudo corepack enable
            sudo corepack prepare pnpm@latest-9 --activate
            pnpm install --no-frozen-lockfile
      - run:
          command: pnpm run ci
          name: Build app for publishing
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  build-sql-workflow:
    jobs:
      - build-and-test
